In [25]:
import requests
exec(requests.get("https://miruetoto.github.io/my_code/datahandling.py").text)

In [27]:
V=['Ant-man','Hulk','Iron-man']
Vpd=pd.DataFrame({'nodename':V})
Vpd

   nodename
0   Ant-man
1      Hulk
2  Iron-man

In [28]:
boxofficepd=pd.DataFrame({'nodename':['Ant-man','Iron-man','Hulk'],'box-office':[100,300,50]})
boxofficepd

   nodename  box-office
0   Ant-man         100
1  Iron-man         300
2      Hulk          50

In [29]:
pd.merge(Vpd,boxofficepd)

   nodename  box-office
0   Ant-man         100
1      Hulk          50
2  Iron-man         300