In [3]:
import requests
exec(requests.get('http://miruetoto.github.io/my_code/datahandling.py').text)
%load_ext rpy2.ipython
ro.r('library(devtools)')
ro.r('library(tidyverse)')

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

R object with classes: ('character',) mapped to:
['forcats', 'stringr', 'dplyr', 'purrr', ..., 'utils', 'datasets', 'methods', 'base']

In [4]:
A=initpd("n",n=10,p=5)
A.columns=['XY1','XY2','XZ1','XZ2','X5']
A

        XY1       XY2       XZ1       XZ2        X5
0 -2.125295 -0.721852  1.274510  0.814394 -0.232550
1 -1.184979 -1.440731 -2.124829 -0.464062  1.009654
2 -0.051393 -1.428855 -0.302226  0.593804  0.041890
3  0.297346  0.395648  0.431407 -1.872710 -0.336747
4 -0.221428  0.721255 -1.167410  0.977357 -0.085041
5 -1.091516  1.998321  1.850558 -0.630604 -0.477197
6 -0.300348  0.731258 -0.312928  0.598709  1.637210
7 -2.221266  1.158039  0.049515  1.732593  0.228101
8  1.776319  0.075342 -0.355377 -0.650944  2.293544
9 -0.716560 -0.221908  0.369134 -1.511270 -1.665845

In [5]:
push(A,"A")

In [7]:
%%R
select(A,contains("Z"))

          XZ1        XZ2
0  1.27451032  0.8143941
1 -2.12482935 -0.4640617
2 -0.30222561  0.5938040
3  0.43140732 -1.8727096
4 -1.16741017  0.9773566
5  1.85055825 -0.6306045
6 -0.31292808  0.5987088
7  0.04951466  1.7325935
8 -0.35537734 -0.6509440
9  0.36913401 -1.5112701

In [8]:
%%R
select(A,contains("Z"),everything())

          XZ1        XZ2         XY1         XY2         X5
0  1.27451032  0.8143941 -2.12529470 -0.72185173 -0.2325496
1 -2.12482935 -0.4640617 -1.18497865 -1.44073111  1.0096541
2 -0.30222561  0.5938040 -0.05139304 -1.42885501  0.0418901
3  0.43140732 -1.8727096  0.29734571  0.39564849 -0.3367472
4 -1.16741017  0.9773566 -0.22142838  0.72125477 -0.0850409
5  1.85055825 -0.6306045 -1.09151589  1.99832102 -0.4771966
6 -0.31292808  0.5987088 -0.30034786  0.73125832  1.6372098
7  0.04951466  1.7325935 -2.22126643  1.15803885  0.2281008
8 -0.35537734 -0.6509440  1.77631853  0.07534233  2.2935439
9  0.36913401 -1.5112701 -0.71655951 -0.22190828 -1.6658451