In [10]:
import requests
exec(requests.get('http://miruetoto.github.io/my_code/dataHandling.py').text)
%load_ext rpy2.ipython
%R library(devtools)

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

array(['devtools', 'usethis', 'tools', 'stats', 'graphics', 'grDevices',
       'utils', 'datasets', 'methods', 'base'], dtype='<U9')

In [34]:
A=initpd("n",n=10,p=5)
push(A,"A")
library("tidyverse")

rpy2.robjects.packages.Package as a <module 'tidyverse'>

In [35]:
r2p(ro.r('select(A,-(X1:X3))'))

         X4        X5
0  0.636410  1.257257
1 -0.038338  0.279708
2 -0.976237  0.518421
3  0.146273 -0.107420
4 -0.538049 -0.496414
5  1.824478  0.039148
6  2.985090  0.200322
7 -1.586716  1.169338
8 -1.613230  0.267974
9 -0.720462  0.654292

In [36]:
r2p(ro.r('select(A,-(1:3))'))

         X4        X5
0  0.636410  1.257257
1 -0.038338  0.279708
2 -0.976237  0.518421
3  0.146273 -0.107420
4 -0.538049 -0.496414
5  1.824478  0.039148
6  2.985090  0.200322
7 -1.586716  1.169338
8 -1.613230  0.267974
9 -0.720462  0.654292

In [37]:
r2p(ro.r('select(A,c(-1,-2,-3))'))

         X4        X5
0  0.636410  1.257257
1 -0.038338  0.279708
2 -0.976237  0.518421
3  0.146273 -0.107420
4 -0.538049 -0.496414
5  1.824478  0.039148
6  2.985090  0.200322
7 -1.586716  1.169338
8 -1.613230  0.267974
9 -0.720462  0.654292