In [13]:
xx<-c(0,2,3,5,1,4,1,4,2.5)
yx<-c(0,0,0,0,1,1,2,2,3)
zx<-c(5,4,-4,-5,4,-4,2,-2,0)

In [9]:
#install.packages("plot3D")
library(tidyverse)
library(plot3D)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.2.1     ✔ purrr   0.3.3
✔ tibble  2.1.3     ✔ dplyr   0.8.4
✔ tidyr   1.0.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [16]:
tibble(x=x,y=y,z=z)

  x   y z
1 0.0 0  5
2 2.0 0  4
3 3.0 0 -4
4 5.0 0 -5
5 1.0 1  4
6 4.0 1 -4
7 1.0 2  2
8 4.0 2 -2
9 2.5 3  0

In [15]:
as_tibble(cbind(x,y,z))

  x   y z
1 0.0 0  5
2 2.0 0  4
3 3.0 0 -4
4 5.0 0 -5
5 1.0 1  4
6 4.0 1 -4
7 1.0 2  2
8 4.0 2 -2
9 2.5 3  0