# `stringr`

# 1. 패키지읽어오기

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.4     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

# 2. `str_c()`

### (1) 하나의 입력: `int`형을 `str`로 바꿀때 사용할 수 있음

In [2]:
str_c(1)

[1] "1"

\begin{align}
\begin{bmatrix} 
1 
\end{bmatrix} \Longrightarrow 
\begin{bmatrix} 
\mbox{"1"} 
\end{bmatrix}
\end{align}

### (2) 하나의 입력: `int`로 이루어진 벡터는 `str`로 이루어진 문자형벡터로 변환

In [16]:
str_c(1:5)

[1] "1" "2" "3" "4" "5"

\begin{align}
\begin{bmatrix} 
1 \\
2 \\
3 \\
4 \\
5
\end{bmatrix} \Longrightarrow 
\begin{bmatrix} 
\mbox{"1"} \\
\mbox{"2"} \\
\mbox{"3"} \\
\mbox{"4"} \\
\mbox{"5"} 
\end{bmatrix}
\end{align}

### (3) 여러개의 입력: 이어붙이는 능력이 있음

In [12]:
str_c("x",1,2)

[1] "x12"

### (4) 잘 쓰이는 응용1

In [17]:
str_c("a",1:5)

[1] "a1" "a2" "a3" "a4" "a5"

\begin{align}
\begin{bmatrix}
\mbox{"a"}
\end{bmatrix}
\begin{bmatrix} 
1 \\
2 \\
3 \\
4 \\
5
\end{bmatrix} \Longrightarrow 
\begin{bmatrix} 
\mbox{"a1"} \\
\mbox{"a2"} \\
\mbox{"a3"} \\
\mbox{"a4"} \\
\mbox{"a5"} 
\end{bmatrix}
\end{align}

### (5) 잘 쓰이는 응용2

In [11]:
str_c(1:5,'-',2:6)

[1] "1-2" "2-3" "3-4" "4-5" "5-6"

\begin{align}
\begin{bmatrix} 
1 \\
2 \\
3 \\
4 \\
5
\end{bmatrix}
\begin{bmatrix}
\mbox{"-"}
\end{bmatrix}
\begin{bmatrix} 
2 \\
3 \\
4 \\
5 \\
6
\end{bmatrix}
\Longrightarrow 
\begin{bmatrix} 
\mbox{"1-2"} \\
\mbox{"2-3"} \\
\mbox{"3-4"} \\
\mbox{"4-5"} \\
\mbox{"5-6"} 
\end{bmatrix}
\end{align}

### (6) 잘쓰이는 응용3

In [23]:
year<-c("2020","2020","2020","2020","2020")
date<-c("03-24","03-25","04-23","04-25","04-26")
time<-c("15:00:00","15:02:00","16:00:00","16:00:02","16:00:03")
dfdata<-tibble(year=year,date=date,time=time)
dfdata

  year date  time
1 2020 03-24 15:00:00
2 2020 03-25 15:02:00
3 2020 04-23 16:00:00
4 2020 04-25 16:00:02
5 2020 04-26 16:00:03

In [29]:
dfdata %>% mutate(ymdhms=str_c(year,'/',date,'/',time))

  year date  time     ymdhms
1 2020 03-24 15:00:00 2020/03-24/15:00:00
2 2020 03-25 15:02:00 2020/03-25/15:02:00
3 2020 04-23 16:00:00 2020/04-23/16:00:00
4 2020 04-25 16:00:02 2020/04-25/16:00:02
5 2020 04-26 16:00:03 2020/04-26/16:00:03