# 1. 데이터프레임에서 열을 선택

데이터프레임에서 열을 선택하는 방법에 대하여 다룬다.

# 2. 데이터 선언

In [5]:
import numpy as np
import pandas as pd

In [16]:
dic={'X1':np.random.normal(0,1,5), 
     'X2':np.random.normal(0,1,5),
     'X3':np.random.normal(0,1,5)}
df=pd.DataFrame(dic)
df

         X1        X2        X3
0 -1.079659  1.240123  1.863891
1  0.095551  0.281947  0.965933
2 -1.051400  0.531817 -0.792376
3  0.092129  0.413101 -1.937281
4 -0.357252  1.630045  0.357824

# 3. 첫번째 열을 선택하는 4가지 방법
`df`에서 첫번째 열을 선택하는 방법은 아래와 같이 4가지의 방법이 있다.

- `df.X1` 
- `df[['X1']]`
- `df.loc[:,['X1']]
- `df.iloc[:,0]`

# 4. 방법1: `df.X1`

첫번째 방법은 `df.X1`와 같이 사용하는 것이다. 

이것은 가장 간단한 방법이다. 

하지만 컬럼이름에 `.`이 들어가면 쓸 수 없다는 치명적인 단점이 있다. 즉 컬럼이름이 `X1`인 경우는 쓸 수 있지만 컬럼이름이 `X.1`와 같은 경우 쓸 수 없다.

In [18]:
df.X1

0   -1.079659
1    0.095551
2   -1.051400
3    0.092129
4   -0.357252
Name: X1, dtype: float64

# 5. 방법2: `df[['X1']]`

두번째 방법은 추출하고 싶은 인덱스의 이름을 `list`형으로 전달하는 방법이다. 

`df[['X1']]` 이 방법은 위와 달리 컬럼이름에 `.`이 있어도 쓸 수 있다.

In [22]:
df[['X1']]

         X1
0 -1.079659
1  0.095551
2 -1.051400
3  0.092129
4 -0.357252

또한 위의 방법과 달리 여러개의 컬럼을 선택가능하다.  즉 아래가 가능하다.

In [21]:
df[['X1','X2']]

         X1        X2
0 -1.079659  1.240123
1  0.095551  0.281947
2 -1.051400  0.531817
3  0.092129  0.413101
4 -0.357252  1.630045

하지만 슬라이싱을 활용하여 여러컬럼을 선택할 수는 없다. 즉 아래가 불가능하다.

In [26]:
# df['X1':'X3']

# 6. 방법3: `df.loc[:,'X1']`

세번째는 `loc`을 이용한 방법이다. 

`df.loc[:,'X1']`은 기본적으로 컬럼이름에 "."이 포함되어도 사용할 수 있다.

In [30]:
df.loc[:,'X1']

0   -1.079659
1    0.095551
2   -1.051400
3    0.092129
4   -0.357252
Name: X1, dtype: float64

또한 여러개의 컬럼을 호출할 수 있다. 즉 아래가 가능하다.

In [32]:
df.loc[:,['X1','X2']]

         X1        X2
0 -2.534047  1.273191
1  0.623340  0.108518
2  0.864183  0.103852
3 -1.189791  0.757676
4  0.447603  0.239782

슬라이싱을 통하여 여러개의 컬럼을 선택할수 있다.

In [37]:
df.loc[:,'X1':'X3']

         X1        X2        X3
0 -1.079659  1.240123  1.863891
1  0.095551  0.281947  0.965933
2 -1.051400  0.531817 -0.792376
3  0.092129  0.413101 -1.937281
4 -0.357252  1.630045  0.357824

단점: 이 방법의 단점은 컬럼의 `index-set`을 정의하고 접근하는것은 불가능하다. 예를들어 `홀수번째 컬럼들만 출력하는 코드`를 짤 수 없다.

# 7. 방법4: `df.iloc[:,0]`

마지막 방법은 `iloc`을 사용하는 것이다. 

`iloc`역시 `loc`과 마찬가지로 슬라이싱이 가능하다. 

하지만 `loc`의 경우와 그 결과가 다르다. 1,2,3번째 변수를 `loc`으로 추출하고 싶을 경우

In [40]:
A.loc[:,'X1':'X3']

         X1        X2        X3
0 -2.534047  1.273191  1.723481
1  0.623340  0.108518  2.127045
2  0.864183  0.103852  0.272604
3 -1.189791  0.757676 -0.328921
4  0.447603  0.239782 -0.262785

와 같이 하지만 같은 결과를 `iloc`으로 구현하려면

In [41]:
A.iloc[:,0:3]

         X1        X2        X3
0 -2.534047  1.273191  1.723481
1  0.623340  0.108518  2.127045
2  0.864183  0.103852  0.272604
3 -1.189791  0.757676 -0.328921
4  0.447603  0.239782 -0.262785

와 같이 해야한다. 즉 `loc`의 경우 양쪽인덱스가 모두 포함되지만 `iloc`의 경우 마지막 인덱스는 포함되지 않는다.

## ***`iloc`의 최대장점***

`iloc`의 최대장점은 아래와 같이 `index-set` 을 정의하고 접근하는것도 가능하다. 예를들어 홀수번째 번수들만 출력하는 코드를 다음과 같이 구현가능하다.

In [46]:
index1=[0,2]
df.iloc[:,index1]

         X1        X3
0 -1.079659  1.863891
1  0.095551  0.965933
2 -1.051400 -0.792376
3  0.092129 -1.937281
4 -0.357252  0.357824