# 1. 조인

이 문서에서는 2개의 데이터 프레임을 합치는 방법에 대하여 서술한다.

In [3]:
import pandas as pd

# 2. Inner Product

In [4]:
df1=pd.DataFrame({'nodename':['Ant-man','Hulk','Iron-man']})
df1

   nodename
0   Ant-man
1      Hulk
2  Iron-man

In [5]:
df2=pd.DataFrame({'nodename':['Ant-man','Iron-man','Hulk'],'box-office':[100,300,50]})
df2

   nodename  box-office
0   Ant-man         100
1  Iron-man         300
2      Hulk          50

In [6]:
pd.merge(df1,df2)

   nodename  box-office
0   Ant-man         100
1      Hulk          50
2  Iron-man         300

In [8]:
pd.merge(df2,df1)

   nodename  box-office
0   Ant-man         100
1  Iron-man         300
2      Hulk          50

기에서는 2개의 데이터프레임 `df1`, `df2` 가 있으며 공통적으로 `nodename` 열을 가지고 있다. `pd.merge()` 함수는 각 데이터프레임이 `nodename` 열을 가지고 있다는 것을 알고 자동으로 이 열을 키로 사용해 조인한다. 

**이때 `nodename`의 순서는 `pd.merge()`에서의 첫번째 데이터프레임을 기준으로 정렬한다.** 

거창하게 써놓았는데 그냥 **내부조인**을 파이썬에서 한 것이다.