# 0. ```modify()```에 대하여 알아보자. 

- 여러개의 열을 동시에 수정할 수 있다. 
- 한번에 한 열을 생성하거나 수정할 수 있는 `mutate`와 살짝 다르다.

# 1. 데이터를 만든다.

In [2]:
library(tidyverse)
tb<-tibble(x=1:10,y=rnorm(10,mean=10))
tb

   x  y
1   1 10.138004
2   2 10.955395
3   3  9.832382
4   4 11.028371
5   5  9.467363
6   6  9.150900
7   7 10.059193
8   8  9.429763
9   9  9.824664
10 10  7.254830

# 2. `modify()`

## (1) `tb`의 모든값에 2를 더하고 싶다.

In [3]:
modify(tb,~.+2)

   x  y
1   3 12.13800
2   4 12.95540
3   5 11.83238
4   6 13.02837
5   7 11.46736
6   8 11.15090
7   9 12.05919
8  10 11.42976
9  11 11.82466
10 12  9.25483

# 3. `iris`자료를 불러오자.

딱히 멀 부른다기보다 그냥 `iris`라고 타이핑하면 알아서 나온다.

In [4]:
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

# 4. `modify_if()`

## (1) `iris`에서 `Species`가 `fct`형으로 되어있는데 이것을 `chr`형으로 바꾸고 싶다.

In [5]:
iris %>% modify_if(is.factor, as.character) %>% head

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

## (2) 응용하면 당연히 아래와 같은것도 가능하다.

In [26]:
tb2<-tibble(x=1:10,y=10:1,z=rnorm(10))
tb2

   x  y  z
1   1 10  0.9418810
2   2  9  1.0862178
3   3  8 -1.4832486
4   4  7 -1.2726457
5   5  6  0.1427523
6   6  5  0.2776324
7   7  4 -1.6800579
8   8  3 -0.4282898
9   9  2  0.7373347
10 10  1 -1.0542865

In [27]:
tb2 %>% modify_if(is.integer,as.double)

   x  y  z
1   1 10  0.9418810
2   2  9  1.0862178
3   3  8 -1.4832486
4   4  7 -1.2726457
5   5  6  0.1427523
6   6  5  0.2776324
7   7  4 -1.6800579
8   8  3 -0.4282898
9   9  2  0.7373347
10 10  1 -1.0542865

# 5. `modify_if(...)`와 유사한 함수 비교 

- `map_if(...)`, `map(keep(...),...)`와의 비교

In [41]:
tb <- tibble(
  num1 = c(0, 10, 20),
  num2 = c(5, 6, 7),
  chr1 = c("a", "b", "c")
)
tb

  num1 num2 chr1
1  0   5    a
2 10   6    b
3 20   7    c

In [42]:
modify_if(tb, is.numeric, mean)

  num1 num2 chr1
1 10   6    a
2 10   6    b
3 10   6    c

In [43]:
map_if(tb, is.numeric, mean)

$num1
[1] 10

$num2
[1] 6

$chr1
[1] "a" "b" "c"

In [44]:
map(keep(tb, is.numeric), mean)

$num1
[1] 10

$num2
[1] 6