In [2]:
import requests
exec(requests.get('http://miruetoto.github.io/my_code/datahandling.py').text)
%load_ext rpy2.ipython
ro.r('library(devtools)')
ro.r('library(tidyverse)')

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

R object with classes: ('character',) mapped to:
['forcats', 'stringr', 'dplyr', 'purrr', ..., 'utils', 'datasets', 'methods', 'base']

In [3]:
A=initpd("n",n=10,p=5)
A.columns=['XY1','XY2','XZ1','XZ2','X5']
A

        XY1       XY2       XZ1       XZ2        X5
0  0.675767  1.028514 -2.293757  1.227938 -0.491147
1  0.916569 -1.378861 -1.419682 -0.044091 -1.005677
2  0.074668 -0.899917  0.088174 -0.664053  2.105616
3 -1.596711 -0.611720 -0.525153 -1.137695 -0.970290
4  0.352449 -0.079041 -0.435134 -1.106932 -0.969584
5  0.392162 -1.188099  0.085240  0.619503  1.383734
6  0.184605  0.967069  1.540843  1.541352  0.328992
7  0.826029 -0.633755 -0.691732 -0.083241 -0.424969
8 -0.437380  0.571359 -0.150109  1.017228 -1.254866
9  1.131400 -0.116461  0.506424 -0.063850  1.420718

In [4]:
push(A,"A")

In [5]:
%%R 
rename(A,XZ3=X5)

          XY1         XY2         XZ1         XZ2        XZ3
0  0.67576706  1.02851443 -2.29375667  1.22793799 -0.4911466
1  0.91656930 -1.37886149 -1.41968210 -0.04409091 -1.0056772
2  0.07466752 -0.89991740  0.08817412 -0.66405294  2.1056156
3 -1.59671056 -0.61171969 -0.52515298 -1.13769479 -0.9702899
4  0.35244876 -0.07904065 -0.43513431 -1.10693154 -0.9695842
5  0.39216250 -1.18809930  0.08523992  0.61950274  1.3837342
6  0.18460548  0.96706918  1.54084318  1.54135204  0.3289917
7  0.82602929 -0.63375497 -0.69173243 -0.08324139 -0.4249692
8 -0.43737978  0.57135887 -0.15010904  1.01722831 -1.2548662
9  1.13139953 -0.11646091  0.50642424 -0.06385018  1.4207183